pipeline/assignment.json
{
	"name": "assignment",
	"properties": {
		"activities": [
			{
				"name": "past date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "past_date",
					"value": {
						"value": "@formatDateTime(adddays(utcnow(),-1),'dd-MM-yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup from mysql_metadata table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "past date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "select * from metadata_table"
					},
					"dataset": {
						"referenceName": "MySqlTable2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup from mysql_metadata table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup from mysql_metadata table').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"query": {
										"value": "@item().query",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_lookup_MySqlTable3",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "assign_DelimitedText",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": {
											"value": "@item().table_name",
											"type": "Expression"
										},
										"file_name": "@item().table_name"
									}
								}
							]
						},
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/kiramkonda.hemanth@gmail.com/adf_assignment",
								"baseParameters": {
									"tablename": {
										"value": "@item().table_name",
										"type": "Expression"
									},
									"filename": {
										"value": "@item().table_name",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"past_date": {
				"type": "String"
			},
			"table_nm": {
				"type": "String"
			},
			"query": {
				"type": "String"
			}
		},
		"folder": {
			"name": "adf assignment"
		},
		"annotations": [],
		"lastPublishTime": "2022-06-27T06:34:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}