pipeline/EDW_DATA_Migration_for_all_table_copy2.json
{
	"name": "EDW_DATA_Migration_for_all_table_copy2",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from dbo.metadata",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LH_SqlServerTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"query": {
										"value": "@item().qry",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_LH_PROJECT_MySqlTable3",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_AZ_Json4",
									"type": "DatasetReference",
									"parameters": {
										"folder_nm": {
											"value": "@concat('Transient/BV/',variables('tbl_nm'))",
											"type": "Expression"
										},
										"file_nm": {
											"value": "@concat(variables('tbl_nm'),'.json')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/rangahemanth123@gmail.com/BV_Project-H",
								"baseParameters": {
									"table_nm": {
										"value": "@variables('tbl_nm')",
										"type": "Expression"
									},
									"sensitive_cols": {
										"value": "@variables('sensitive_col')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SQL_Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Notebook1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[updateingestiondt]",
								"storedProcedureParameters": {
									"ingestiondt ": {
										"value": {
											"value": "@variables('ing_dt')",
											"type": "Expression"
										},
										"type": "String"
									},
									"tablename ": {
										"value": {
											"value": "@variables('tbl_nm')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_LH_SqlServer1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"tbl_nm": {
				"type": "String",
				"defaultValue": "{\"reviews\",\"products'\",\"categories\"}"
			},
			"inc_col": {
				"type": "String"
			},
			"ing_dt": {
				"type": "String"
			},
			"qry": {
				"type": "String"
			},
			"sensitive_col": {
				"type": "String"
			}
		},
		"folder": {
			"name": "azure _project pipelines"
		},
		"annotations": []
	}
}